# SPDX-FileCopyrightText: 2025 VTT Technical Research Centre of Finland Ltd
# SPDX-License-Identifier: AGPL-3.0-or-later

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# Basic settings

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

# Allow things on a single line

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

# List styles: { a, b, c } or {a, b, c} ?
# Cpp11BracedListStyle: false

# Constructor formatting

# ensures that : is placed on a new line
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false # puts each initializer on its own line
AllowAllConstructorInitializersOnNextLine: false # disables grouping on the next line
BinPackParameters: true # prevents squeezing multiple parameters into one line
AlignAfterOpenBracket: Align # keeps nice vertical alignment
